.grid{
    border: .5px solid black;
    border-radius: 2px;
    overflow: hidden;
}
.row{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.column{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: .5px solid black;
    padding: 4px 8px;
}